@media screen and (max-width: 1000px) {
  .main_title {
    font-size: 40px !important;
  }
  .main_prg {
    font-size: 20px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Nanum Gothic", sans-serif;
}

.site_header {
  background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
}

.site_header ul li a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.main_title {
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
}

.main_prg {
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
}

.main_btn {
  border: none;
  background: #fc0a7e;
  border-radius: 3px;
  padding: 10px;
}

.main_btn a {
  color: #fff;
  text-decoration: none;
}

.line {
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: #999;
}

.gradient_bg {
  background: linear-gradient(287.15deg, #450e4b 0%, #3c0c41 24.48%, rgba(207, 0, 99, 0) 100%), #cf0063;
}
